header {
    display: flex;
    justify-content: end;
    height: 40px;
    padding: 20px;
    margin: 0 0 20px;
    background-color: black;
}

.header-btn {
    padding: 5px 15px;
    background-color: yellow;
    border-radius: 20px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 0 20px;
}

.product-img {
    width: 100%;
}

.product-btn {
    padding: 5px 15px;
    background-color: yellowgreen;
}